<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/51a7cc97b5.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
        <div class="flex justify-between container align-center">
          <h2>EventHub</h2>
          <nav>
            <a class="links" href="/events/new">Book An Event</a>
            <a class="links" href="/categories">See All Category</a>
          </nav>
        </div>
      </header>
    <section class="container list text-center">
      <h1>Events by Category</h1>

      <% if (events.length > 0) { %>
      <ul>
        <% events.forEach((event) => { %>
        <li><%= event.title %></li>
        <% }) %>
      </ul>
      <% } else { %>
      <p>No events found for this category.</p>
      <% } %>
    </section>
    <footer>
        <section class="container">
          <div class="flex justify-between">
            <address class="flex-20">
              EventHub: 123 Main Street, Bangalore, Karnataka, India,Pin-code
              -560001
            </address>
            <div>
              <a class="media-links" href="https://facebook.com" target="_blank"
                ><i class="fa-brands fa-facebook-f"></i
              ></a>
              <a class="media-links" href="https://instagram.com" target="_blank"
                ><i class="fa-brands fa-square-instagram"></i
              ></a>
              <a class="media-links" href="https://twitter.com" target="_blank"
                ><i class="fa-brands fa-twitter"></i
              ></a>
              <a class="media-links" href="https://youtube.com" target="_blank"
                ><i class="fa-brands fa-youtube"></i
              ></a>
              <a class="media-links" href="https://dribble.com" target="_blank"
                ><i class="fa-brands fa-dribbble"></i
              ></a>
            </div>
          </div>
        </section>
      </footer>
  </body>
</html>
