<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/51a7cc97b5.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="container flex justify-between align-center">
        <h2>EventHub</h2>
        <nav class="flex justify-between">
          <a class="links" href="/events">See Events</a>
          <a class="links" href="/events/new">Add Event</a>
        </nav>
      </div>
    </header>
    <section class="hero">
      <div class="container">
        <h1 class="hero-header">event planning is hard.</h1>
        <h6 class="hero-sub-header">We can Help you</h6>
      </div>
    </section>
    <section class="container">
      <div class="about-section">
        <h2>About Our Work</h2>
        <p class="description">
          At EventHub, we strive to provide seamless event planning and
          management solutions for our clients. Our dedicated team of
          professionals works tirelessly to ensure that every event is executed
          flawlessly, exceeding expectations.
        </p>
        <p class="description">
          From the initial planning stages to the final execution, we handle
          every aspect of event management with meticulous attention to detail.
          Our streamlined process ensures effective communication, efficient
          coordination, and exceptional results.
        </p>
      </div>
    </section>
    <footer>
      <section class="container">
        <div class="flex justify-between">
          <address class="flex-20">
            EventHub: 123 Main Street, Bangalore, Karnataka, India,Pin-code -560001
          </address>
          <div>
            <a class="media-links" href="https://facebook.com" target="_blank"
              ><i class="fa-brands fa-facebook-f"></i
            ></a>
            <a class="media-links" href="https://instagram.com" target="_blank"
              ><i class="fa-brands fa-square-instagram"></i
            ></a>
            <a class="media-links" href="https://twitter.com" target="_blank"
              ><i class="fa-brands fa-twitter"></i
            ></a>
            <a class="media-links" href="https://youtube.com" target="_blank"
              ><i class="fa-brands fa-youtube"></i
            ></a>
            <a class="media-links" href="https://dribble.com" target="_blank"
              ><i class="fa-brands fa-dribbble"></i
            ></a>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
